.jsonschema-number-form {
  margin: 0.5rem 0;

  .jsonschema-number-form-range {
    width: 100%;
    display: flex;
    font-size: small;

    > input {
      flex: 1;
    }
  }

  .jsonschema-number-form-title {
    display: flex;
    justify-content: space-between;
  }
}

.jsonschema-enum-radio {
  .jsonschema-enum-radio-choice {
    margin-right: 0.25rem;
  }
}

.jsonschema-enum-dropdown {
  select {
    display: block;
  }
}
