.flying-wamdag {
  fill: white;
}

.flying-wamdag-target {
  stroke: black;
  fill: rebeccapurple;
  mix-blend-mode: color-burn;
}

.flying-wamdag-power-up {
  fill: white;
  mix-blend-mode: hard-light;
}
