.note-grid {
  .note-grid-cell {
    rect {
      fill: white;
    }

    .peak-freq {
      circle {
        fill: 'red';
      }

      text {
        fill: black;
        font-size: 4rem;
      }
    }

    &.active {
      text {
        font-size: 1.5rem;
        font-weight: bold;
      }

      rect {
        fill: lightblue;
        stroke: blue;
        stroke-width: 2px;
      }
    }
  }

  text {
    fill: white;
    text-anchor: middle;
  }
}
